/* General */
:root{
  --green:#9aca3c;
  --white:#ffffff;
  --black:#000000;
  --faint:#f3f3f3;
  --blue:#25408e;
}
@font-face{
  src:url("res/Montserrat-Regular.ttf");
  font-family:"Montserrat";
}
@font-face{
  src:url("res/Montserrat-Bold.ttf");
  font-family:"Montserrat";
  font-weight:bold;
}
@font-face{
  src:url("res/Lora-Regular.ttf");
  font-family:"Lora";
}
body{
  background-color:var(--white);
  color:var(--black);
  font-family:"Lora";
  font-size:18px;
  padding:0;
  margin:0;
}
h1{
  color:var(--green);
  font-family:"Montserrat";
  font-size:45px;
  margin:10px 0;
}
h2{
  color:var(--green);
  font-family:"Montserrat";
  font-size:38px;
  margin:10px 0;
}

/* Splash */
.splash-wrapper{
  position:relative;
}
.splash{
  filter:brightness(50%);
  width:100%;
}
.logo{
  border-radius:15px;
  transform:translate(-50%,-50%);
  position:absolute;
  height:80%;
  left:50%;
  top:50%;
}

/* Background */
.about{
  margin:25px 5%;
  overflow:auto;
}
.about .caption{
  background-color:var(--faint);
  font-family:"Montserrat";
  margin:0 0 15px 35px;
  float:right;
}
.about .caption img{
  width:300px;
}
.about .caption p{
  text-align:center;
  margin:2px 0;
  width:280px;
  left:10px;
}

/* Middle */
.middle{
  background-color:var(--blue);
  font-family:"Montserrat";
  color:var(--white);
  padding:25px 5%;
  grid-template-columns:30% 70%;
  display:grid;
}
.middle h2{
  color:Var(--white);
}
.middle img{
  transform:translateY(-50%);
  position:relative;
  width:90%;
  top:50%;
}

/* Bottom */
.bottom{
  margin:25px 5%;
}

/* Footer */
.footer{
  background-color:var(--black);
  font-family:"Montserrat";
  color:var(--white);
  text-align:center;
  font-weight:bold;
  padding:15px 0;
}
.footer a{
  text-decoration:none;
  color:var(--green);
}
.footer a:hover{
  text-decoration:underline;
  color:var(--green);
}
